//_colors.scss
$dark-background: #2D3142;
$medium-background: #4F5D75;
$light-background: #4F5D75;
$medium-accent: #EF8354;
$dark-accent: #EF8354;
$dark-text: #000000;
$medium-gray: #BFC0C0;
$gray: #BFC0C0;
$white: #fff;


// $dark-background: #062148;
// $medium-background: #2a5381;
// $light-background: #84a6c2;
// $medium-accent: #f59548;
// $dark-accent: #f27918;
// $dark-text: #000000;
// $medium-gray: #cecece;
// $gray: #e1e1e1;
// $white: #fff;