@media only screen and (min-width: 64em) {

  /* ---------- nav ---------- */

  nav ul li a {
    padding: 8px 16px;
  }

  .hide {
    width: 960px;
  }

  /* ---------- main ---------- */

  main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  #cityName {
    flex: 0 0 100%;
    justify-content: center;
    padding: 30px 0;
  }

  .town-summary {
    flex-flow: column nowrap;
  }

  .main-image {
    height: 300px;
  }

  .town-summary picture {
    flex: 1 1 100%;
    margin: 0;
  }
  .weather-summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    flex: 1 1 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ececec;
    box-shadow: 5px 5px 5px #ececec;
    padding-bottom: 20px;
  }

  .weather-type {
    font-size: 1.5rem;
  }

  .current {
    margin: 0;
  }

  .conditions {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .conditions p, .highlow p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 10px 0 0 0;
    width: 230px;
  }

  .forecast {
    padding: 5px 0 0 0;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.375rem;
    padding: 30px 0;
  }

 /* ---------- gallery ---------- */

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .box-shadow:hover {
    box-shadow: 5px 5px 10px gray;
  }

/* ---------- home page ---------- */

  .stats {
    display: flex;
  }

  .cityData, .weatherStory {
    display: flex;
    flex-flow: column;
    box-shadow: 5px 5px 5px #ececec;
    padding: 0 20px 20px 20px;
    border: 1px solid #ececec;
    margin: 10px 0 5px 0;
  }

  .headline {
    padding: 10px 0 0 0;
    margin: 0;
  }

  .headline div {
    height: 265px;
    margin-top: 0;
  }

  .headline img {
    padding: 0 0 0 20px;
  }

  .cityData img {
    order: 1;
  }

  .cityData div {
    min-height: 250px;
    padding: 0;
  }

  .cityData img, .cityData div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .cityData div {
    box-shadow: none;
  }

  #franklinCity, #Springfield, #Greenville {
    border: none;
  }

  .cityInfo {
    box-shadow: 5px 5px 5px #ececec;
  }

  .middle {
    margin: 10px 15px 5px 15px;
  }
}
