@media only screen and (min-width: 37.5em) {

  /* ---------- header ---------- */

  header {
    background-image: url('../images/blue-header-background.png');
    justify-content: center;
  }

  header img, header .subheading {
    padding: 8px 0;
  }

  .logo {
    padding-left: 0;
  }

  h1 {
    font-size: 2.2rem;
  }

  .subheading {
    font-size: 1.2rem;
  }

  .hamburger {
    display: none;
  }

  /* ---------- nav ---------- */

  nav ul {
    overflow: hidden;
    flex-flow: row nowrap;
  }

  nav ul li {
    display: inline-flex;
    padding: 5px 0;
    margin: auto;
  }

  nav ul li a {
    padding: 8px 10px;
    border: none;
  }

  .hide {
    display: inline-flex;
    width: 95%;
  }

  /* ---------- main ---------- */

  main {
    padding-bottom: 15px;
  }

  #cityName {
    display: none;
  }

  #cityNameMedium {
    display: flex;
  }

  h2 {
    font-size: 1.8rem;
  }

  .town-summary {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    justify-content: center;
  }

  .main-image {
    height: 260px;
  }

  .town-summary picture {
    flex: 1 1 50%;
    padding-top: 20px;
  }

  .icon {
    flex: auto;
    padding: 0;
  }

  .weather-summary {
    padding: 5px 0;
    flex: 1 1 50%;
  }

  .weather-type {
    font-size: 1.5rem;
    flex: auto;
  }

  .current {
    display: flex;
    flex-direction: row-reverse;
  }

  section.forecast {
    display: flex;
    flex-flow: column nowrap;
  }

  .forecast th {
    padding: 5px 0 5px 5px;
    background-color: #00487c;
    color: #ffffff;
    font-weight: 100;
  }

  .forecast td {
    padding: 5px 0 0 0;
    border-bottom: 1px solid #0080aa;
  }

  .swap {
    display: inline-block;
  }

  .swap picture img {
    width: 50%;
    float: right;
    padding: 0 0 0 15px;
  }

  /* ---------- footer ---------- */

  footer {
    clear: right;
  }

  /* ---------- gallery ---------- */

  .top-heading {
    display: flex;
    justify-content: center;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

/* ---------- form ---------- */

  .submitbutton {
    margin: 0 0 1.5rem 1rem;
    align-self: flex-start;
  }
/* ---------- home page ---------- */

  .stats {
    display: block;
  }

  .headline h2 {
    line-height: 1.8rem;
  }

  .cityData, .headline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: none;
    box-shadow: none;
  }

  .cityData img, .cityData div, .headline img, .headline div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 20px;
  }

  .cityData div, .headline div {
    box-shadow: 5px 5px 5px #ececec;
  }

  td {
    padding-right: 1rem;
  }

  .cityData img {
    max-height: 250px;
    object-fit: cover;
  }

  #franklinCity, #Springfield, #Greenville {
    padding: 10px;
    line-height: 1rem;
    flex: 1 1 50%;
  }

/* ---------- city info/events ---------- */

  div.cityInfo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  border: 1px solid #ececec;
  }

  div.cityInfo h3 {
    padding-top: 10px;
  }

  .city-events {
    flex: 1 1 50%;
    line-height: 1.2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cityStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
