//_colors.scss
$dark-background: #062148;
$medium-background: #2a5381;
$light-background: #84a6c2;
$medium-accent: #f59548;
$dark-accent: #f27918;
$dark-text: #000000;
$medium-gray: #cecece;
$gray: #e1e1e1;
$white: #fff;