* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  text-align: left;
  line-height: 1.1rem;
}

a {
  color: #C1341E;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  font-family: 'Russo', 'Times New Roman', serif;
  font-weight: 400;
  color: #C1341E;
  text-align: center;
}

/* ---------- header ---------- */

.hamburger {
  border: none;
  color: #ffffff;
  background-color: transparent;
  font-size: 3.0rem;
  font-weight: bold;
  padding: 0 3% 0 0;
  line-height: 2.2rem;
  align-self: flex-start;
}

header {
  height: 145px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

header img {
  height: 75px;
}

h1 {
  font-family: 'Lobster', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 2.0rem;
  line-height: 2.0rem;
  color: #ffffff;
  margin: 0;
  padding-top: 10px;
}

/* ---------- nav ---------- */

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  overflow: hidden;
}

nav ul li.active {
  background-color: #59a1c9;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-top: 1px solid #ffffff;
  padding: 8px 16px;
}

nav ul li.active a {
  color: #ffd332;
}
nav ul li a:hover {
  color: #c0c0c0;
}

.hide {
  display: none;
}

/* ---------- main ---------- */

main img {
  width: 100%;
  object-fit: cover;
  object-position: bottom right;
  height: 275px;
}

main > ul {
  position: absolute;
  top: 145px;
  right: 10px;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  overflow: hidden;
}

.top-buttons li {
  background-color: #c1341e;
  padding: 15px 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 175px;
  align-self: flex-end;
}

.top-buttons li a {
  color: #ffffff;
}

/* ---------- footer ---------- */

footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  background-color: #4c4c4c;
  text-align: center;
  font-size: 0.8rem;
}

footer iframe {
  width: 96%;
}

footer h2 {
  color: #59a1c9;
  padding: 15px 0px;
}

.contact {
  display: flex;
}

.icon, .contact-text {
  padding: 7px;
  text-align: left;
  line-height: 1.2rem;
}

.company-info {
  background-color: #000000;
  padding: 15px 15px 0px 15px;
}

.social-media {
  align-self: center;
  padding: 10px 0px;
}

.social-media img {
  padding: 0px 8px;
}

.footer-bar {
  padding: 10px;
}

/* ---------- gallery ---------- */



/* --------- form ---------- */




/* ---------- thank you ---------- */

.thank-you {
  padding-bottom: 30px;
}

.large {
  font-family: 'Arvo', 'Times New Roman', serif;
  font-size: 4rem;
  color: #ffd332;
  padding: 3rem 0 4rem 0;
  line-height: 4rem;
  text-align: center;
}

/* MEDIUM VIEW */

@media only screen and (min-width: 37.5em) {

  /* ---------- header ---------- */

  .hamburger {
    display: none;
  }

  header {
    height: 100px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
  }

  h1 {
    font-family: 'Lobster', 'Times New Roman', serif;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
  }

  .top-header {
    display: flex;
    flex-flow: column nowrap;
  }

  /* ---------- nav ---------- */

  nav ul {
    flex-flow: row nowrap;
    padding: 5px;
  }

  nav ul li {
    display: inline-flex;
    padding: 0px 5px;
    margin: auto;
  }

  nav ul li a {
    padding: 8px 10px;
    border: none;
  }

  .hide {
    display: inline-flex;
  }

  /* ---------- main ---------- */

  main img {
    width: 100%;
    height: 330px;
  }

  main > ul {
    position: absolute;
    top: 125px;
    right: 30px;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    overflow: hidden;
  }

  .top-buttons li {
    margin: 10px;
  }

  /* ---------- footer ---------- */

  footer {
    height: 240px;
  }

  footer h2 {
    padding: 0px 0px 10px 20px;
    text-align: left;
  }

  footer iframe {
    width: 225px;
    height: 165px;
  }

  .icon {
    padding-left: 20px;
  }

  .contact-text {
    line-height: 1.0rem;
  }

  .company-info {
    display: flex;
    background-color: #000000;
    padding: 15px;
  }

  .social-media {
    display: flex;
    align-self: flex-start;
  }

/* LARGE VIEW */

@media only screen and (min-width: 64em) {

  /* ---------- header ---------- */

  header img {
    padding-left: 15px;
  }

  header {
    height: 125px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
  }

  h1 {
    font-family: 'Lobster', 'Times New Roman', serif;
    font-weight: 300;
    font-size: 3.0rem;
    line-height: 1.7rem;
    color: #ffffff;
    margin: 0;
    padding-top: 20px;
  }

  .top-header {
    display: flex;
    flex-flow: column nowrap;
  }

  /* ---------- nav ---------- */

  nav ul {
    margin: 15px 0px 0px 0px;
  }

  nav ul li {
    padding: 0px 25px 0px 5px;
  }

  /* ---------- main ---------- */

  main {
    margin-left: auto;
    margin-right: auto;
  }

  main img {
    width: 100%;
    height: 625px;
  }

  main > ul {
    position: absolute;
    top: 175px;
    right: 50px;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0;
    overflow: hidden;
  }

  .top-buttons li {
    padding: 35px 15px;
    margin: 20px;
    width: 275px;
    align-self: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* ---------- footer ---------- */

  footer {
    height: 240px;
  }

  footer h2 {
    padding: 0px 0px 10px 20px;
    text-align: left;
  }

  footer iframe {
    width: 225px;
    height: 165px;
  }

  .icon {
    padding-left: 20px;
  }

  .contact-text {
    line-height: 1.0rem;
  }

  .company-info {
    display: flex;
    background-color: #000000;
    padding: 15px;
  }

  .social-media {
    display: flex;
    align-self: flex-start;
  }
}
