@media only screen and (min-width: 64em) {

  /* banner */

  .full-width {
    display: block;
    width: 100%;
  }

  /* main */

  main {
    max-width: 960px;
  }

  main > h2 {
    display: block;
    font-size: 2.0rem;
  }

  .franklin {
    display: block;
  }

  .weather-summary {
    width: 100%;
    display: inline-block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  .weather-summary h2 {
      display: none;
  }

  .current {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    width: 250px;
  }

  .current picture img {
    width: 100px;
  }

  .weather-type {
    display: inline-block;
    padding: 28px;
  }

  .highlow {
    vertical-align: middle;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block
  }

  .highlow p {
    width: 225px;
    font-size: 1.3rem;
    padding: 10px 0px 0px 0px;
  }

  .conditions {
    display: inline-block;
    font-size: 1.3rem;
    vertical-align: middle;
    padding-bottom: 0px;
  }

  .conditions p {
    width: 225px;
    font-size: 1.3rem;
    padding: 10px 0px 0px 0px;
  }

  section.forecast {
    padding: 5px 0px 0px 0px;
  }

  .forecast h3 {
    padding: 0px 0px 20px 0px;
  }

  h3 {
    font-size: 1.375rem;
  }

}
