* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  text-align: center;
  line-height: 1.1rem;
}

header, nav, main, footer {
  max-width: 600px;
  display: block;
}

a {
  color: #0080aa;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Times New Roman', serif;
  font-weight: 300;
  color: #00487c;
  text-align: center;
  padding: 10px;
}

/* ---------- header ---------- */

header {
  background-color: #00487c;
  color: #ffffff;
  height: 75px;
}

header img, header h1, header .subheading {
  position: absolute;
}

.logo {
  display: inline-block;
}

.logo img {
  top: 13px;
  left: 15px;
}

header h1 {
  font-family: 'Arvo', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  top: 15px;
  left: 75px;
}

header .subheading {
  width: 175px;
  font-size: 0.9rem;
  top: 45px;
  left: 75px;
}

button.hamburger {
  display: block;
  position: absolute;
  top: 0px;
  left: 87%;
  border: none;
  color: #ffffff;
  background-color: transparent;
  font-size: 2.8rem;
  font-weight: bold;
  padding: 0px;
  line-height: 2.6rem;
}

/* ---------- nav ---------- */

nav {
  background-color: #00487c;
  width: 100%;
}

nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 2rem;
}

nav ul {
  list-style-type: none; /* check his notes */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  border-top: 1px solid #ffffff;
}

nav ul li.active a {
  color: #ffd332;
  background-color: #003256;
}
nav ul li a:hover {
  color: #c0c0c0;
}

nav ul.hide {
  display: none;
}

/* ---------- main ---------- */

h2 {
  font-size: 1.5rem;
  padding: 20px;
}

.franklin {
  width: 100%;
}

.weather-summary {
  padding-top: 10px;
}

.weather-summary h2 {
  display: none;
}

.current {
  margin: auto;
  display: table;
}

.current picture {
  display: block;
  margin: auto;
  vertical-align: middle;
}

.weather-type {
  font-size: 1.5rem;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.highlow {
  display: block;
}

.highlow p {
  display: block;
  padding: 5px 0px 0px 0px;
  margin: auto;
  width: 180px;
  border-bottom: 1px solid #0080aa;
  text-align: left;
  line-height: 1.1rem;
}

.conditions {
  display: block;
  padding-bottom: 20px;
}

.conditions p {
  padding: 5px 0px 0px 0px;
  margin: auto;
  text-align: left;
  border-bottom: 1px solid #0080aa;
  width: 180px;
}

section.forecast {
  display: none;
}

h3 {
  font-size: 1.250rem;
}

.swap {
  display: flex;
  flex-direction: column-reverse;
}

article h3 {
  padding-bottom: 20px;
}

article p {
  text-align: left;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
}

article img {
  margin: auto;
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

/* ---------- footer ---------- */

.contact {
  background-color: #ececec;
  padding: 20px;
}

.site-name {
  font-weight: 300;
  font-family: 'Arvo', 'Times New Roman', serif;
  font-size: 18px;
}

.footer-bar {
  color: #ffffff;
  padding: 15px;
  background-color: #0080aa;
  font-size: .8rem;
}

.footer-bar a {
  color: #ffffff;
  text-decoration: underline;
}

@media only screen and (min-width: 37.5em) {

  header, nav, main, footer {
    max-width: 100%;
  }

  /* ---------- header ---------- */

  header {
    height: 100px;
    background-image: url('../images/rsz_blue-header-background.png');
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

  header img, header h1, header .subheading {
    position: static;
  }

  .logo img {
    position: relative;
    top: 10px;
    left: 0px;
  }

  header h1 {
    position: relative;
    width: 100%;
    font-size: 2.2rem;
    top: 15px;
    left: 0px;
  }

  header .subheading {
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 1.2rem;
    padding-top: 25px;
  }

  button.hamburger {
    display: none;
  }

  /* ---------- nav ---------- */

  nav ul {
    overflow: hidden;
  }

  nav ul li {
    display: inline-block;
    padding: 10px;
  }

  nav ul li a {
    display: inline;
    border: none;
  }

  nav ul.hide {
    display: block;
  }

  /* ---------- main ---------- */

  main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  main h2 {
    display: none;
  }

  .franklin {
    float: left;
    width: 48%;
    display: inline-block;
    padding-top: 20px;
  }

  .weather-summary {
    width: 48%;
    display: inline;
    float: right;
    padding: 5px 0px;
  }

  .weather-summary h2 {
    margin: 0px;
    display: block;
    padding-bottom: 10px;
  }

  .weather-type {
    font-size: 2.0rem;
  }

  .current {
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }

  .current picture {
    margin: 0px;
    padding: 0px;
  }

  section.forecast {
    display: block;
    margin: auto;
    clear: both;
  }

  .forecast h3 {
    padding: 20px 0px 20px 0px;
  }

  .forecast table {
    width: 100%;
    text-align: left;
  }

  .forecast th {
    padding: 5px 0px 5px 5px;
    background-color: #ececec;
    border-bottom: 1px solid #0080aa;
  }

  .forecast td {
    padding: 5px 0px 5px 5px;
    border-bottom: 1px solid #0080aa;
  }

  article {
    display: inline-block;
    clear: right;
    padding-bottom: 20px;
  }

  .swap {
    display: block;
  }

  article p {
    width: 100%
  }

  article img {
    width: 50%;
    float: right;
    padding: 10px;
  }

  /* ---------- footer ---------- */

  footer {
    clear: right;
  }

}

@media only screen and (min-width: 64em) {

  /* ---------- main ---------- */

  main {
    max-width: 960px;
  }

  main > h2 {
    display: block;
    font-size: 2.0rem;
    padding-top: 30px;
  }

  .franklin {
    display: block;
    width: 100%;
    margin: 0px;
  }

  .weather-summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
  }

  .weather-summary h2 {
    display: none;
  }

  .weather-type {
    font-size: 2.2rem;
  }

  .current {
    margin: 0px;
  }

  .highlow {
    margin-left: 7%;
    margin-right: 7%;
  }
  .highlow p, .conditions p {
    width: 225px;
    font-size: 1.3rem;
    padding: 10px 0px 0px 0px;
  }

  .conditions {
    font-size: 1.3rem;
    padding-bottom: 0px;
  }

  section.forecast {
    padding: 5px 0px 0px 0px;
  }

  .forecast h3 {
    padding: 30px 0px;
  }

  h3 {
    font-size: 1.375rem;
  }

  article h3 {
    padding: 30px 0px;
  }

}


