@media only screen and (min-width: 64em) {

  body {
    width: 100%;
  }
  nav button {
    display: hidden;
  }

  section.forecast {
    display: contents;
    display: block;
    clear: both;
    padding-top: 5px;
  }

  * {
    flex-flow: row wrap;
  }

  header, nav, main, footer {
    max-width: 100%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    display: block;
  }

  header {
    height: 90px;
    background-image: url('../images/rsz_blue-header-background.png');
    padding-top: 10px;
  }

  header h1 {
    text-align: center;
    font-size: 2.2rem;
    top: 15px;
    left: 0px;
  }

  header .subheading, header h1, header img {
    position: static;
  }

  header img {
    position: relative;
    top: 15;
    left: 0;
    float: left;
  }

  .fa-bars {
    display: none;
  }

  header .subheading {
    top: 55px;
    left: 0px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.250rem;
  }

  nav {
    background-color: #00487c;
  }

  nav ul li {
    display: inline-block;
    padding: 10px;
  }

  nav ul li a {
    padding: 8px 16px;
  }

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }

  .full-width {
    display: block;
    width: 100%;
  }

  main figure img {
    display: none;
  }

  /* my css */
  .highlow p {
    padding: 0 10px;
    float: right;
  }
  article {
    display: inline-block;
    clear: right;
    padding: 10px;
  }
  article p {
    width: 45%;
    float: left;
  }
  article img {
    width: 45%;
    float: right;
  }
  .images {
    display: none;
  }
  .weather-type {
    font-size: 2.0rem;
    line-height: 32px;
    float: right;
  }
  .current {
    float: left;
  }
  .img-article {
    margin: auto;
  }
  .weather-summary {
    width: 48%;
    display: inline;
    float: right;
  }
  .weather-summary h3 {
    margin: 0;
  }

  .current picture {
    float: left;
  }

  .conditions {
    display: block;
    clear: both;
  }
  /*closing bracket */

  tr img {
    width: 20px;
  }
  td {
    vertical-align: bottom;
    padding: 0 10px;
    text-align: left;
  }
  .logo img {
    width: 75px;
  }
  .title {
    display: inline-block
  }
  .weather-summary {
    float: left;
  }
  picture {
    float: left;
  }
  .highlow {
    float: right;
  }
  .forecast table {
    width: 100%;
    text-align: left;
  }
  .forecast th {
    padding: 5px 0px 5px 5px;
    background-color: #ececec;
    border-bottom: 1px solid #0080aa;
  }
  .forecast td {
    padding: 5px 0px 5px 5px;
    border-bottom: 1px solid #0080aa;
  }

  .weather-summary table {
    text-align: left;
  }
  .weather-summary td {
    padding: 5px 0px 5px 5px;
    border-bottom: 1px solid #0080aa;
  }
  .top-line {
    margin-left: auto;
    margin-right: auto;
  }
}
