* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  text-align: center;
  line-height: 1.1rem;
}

header, nav, main, footer {
  max-width: 600px;
  display: block;
}

a {
  color: #0080aa;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Times New Roman', serif;
  font-weight: 300;
  color: #00487c;
  text-align: center;
  padding: 20px;
}

/* header */

header {
  background-color: #00487c;
  color: #ffffff;
  height: 75px;
}

header img, header h1, header .subheading {
  position: absolute;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 55px;
  top: 18px;
  left: 15px;
}

header h1 {
  font-family: 'Arvo', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
  top: 15px;
  left: 75px;
}

header .subheading {
  width: 175px;
  font-size: 0.9rem;
  top: 45px;
  left: 75px;
}

.fa-bars {
  position: absolute;
  top: 20px;
  left: 87%;
}

/* nav */

nav {
  background-color: #00487c;
  width: 100%;
}

nav ul {
  list-style-type: none; /* check his notes */
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

nav ul li.active a {
  color: #ffd332;
}
nav ul li a:hover {
  color: #c0c0c0;
}

/* banner image */

.full-width {
  display: none;
}
/* main */

h2 {
  font-size: 1.5rem;
}

main figure {
  margin: 0 0 .2rem 2%;
  width:96%;
}
main figure img {
  display: block;
  width: 96%;
  margin: auto;
}

.weather-summary {
  padding-top: 10px;
}

.weather-summary h2 {
  display: none;
}

.current {
  margin: auto;
  display: table;
}

.weather-type {
  font-size: 1.5rem;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.highlow {
  display: block;
}

.highlow p {
  display: block;
  padding: 5px 0px 0px 0px;
  margin: auto;
  width: 180px;
  border-bottom: 1px solid #0080aa;
  text-align: left;
  line-height: 1.1rem;
}

.conditions {
  display: block;
  padding-bottom: 20px;
}

.conditions p {
  padding: 5px 0px 0px 0px;
  margin: auto;
  text-align: left;
  border-bottom: 1px solid #0080aa;
  width: 180px;
}

section.forecast {
  display: none;
}

h3 {
  font-size: 1.250rem;
}

.swap {
  display: flex;
  flex-direction: column-reverse;
}

article p {
  text-align: left;
  width: 92%;
  margin: 1em auto;
}

article img {
  margin: auto;
  width: 92%;
  padding: 20px 0px;
}

/* footer */

.contact {
  background-color: #ececec;
  padding: 10px;
}

.site-name {
  font-weight: 300;
  font-family: 'Arvo', 'Times New Roman', serif;
  font-size: 18px;
}

.footer-bar {
  color: #ffffff;
  padding: 10px;
  background-color: #0080aa;
  font-size: .8rem;
}

.footer-bar a {
  color: #ffffff;
  text-decoration: underline;
}
