<link href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans" rel="stylesheet">
/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  text-align: center;
}

header, nav, main, footer {
  max-width: 600px; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
  display: block;
}

header {
  background-color: #00487c;
  color: #ffffff;
  width: 100%;
  position: relative;
  height: 75px;
}
header h1 {
  font-family: 'Arvo', 'Times New Roman', serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #ffffff;
  margin: 0;
  padding: 0;
  top: 15px;
  left: 70px;
}

header .subheading, header h1, header img {
  position: absolute;
}

header img {
  top: 15px;
  left: 10px;
}

.fa-bars {
  position: absolute;
  top: 20px;
  left: 87%;
}

header .subheading {
  top: 45px;
  left: 55px;
  width: 175px;
  font-size: 0.9rem;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.250rem;
}
nav {
  background-color: #00487c;
  width: 100%;
}
nav button {}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
nav ul li.active a {
  color: #ffd332;
}
nav ul li a:hover {
  color: #c0c0c0;
}

main {
}
.full-width {
  display: none;
}

main h2 {
}
main figure {
  margin: 0 0 .2rem 2%; width:96%;
}
main figure img {
  display: none;
}

h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Times New Roman', serif;
  font-weight: 300;
  color: #00487c;
}
.contact {
  background-color: #ececec;
  padding: 10px;
}
.footer-bar {
  color: #ffffff;
  padding: 10px;
  background-color: #0080aa;
  font-size: .8rem;
}
footer {
}


/* my css */

article h3 {
  text-align: center;
}

article p {
  text-align: left;
}
article img {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}
table {
  margin: auto;
}

a {
  color: #0080aa;
  text-decoration: none;
}
section.forecast {
  display: none;
}

.images {
  display: block;
  width: 96%;
}

.weather-type {
  font-size: 1.5rem;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.current {
  margin: auto;
  display: table;
}

.logo {
  display: inline-block;
}
.logo img {
  width: 55px;
}
#med-view {
  display: none;
}

.highlow {
  display: inline-block;
  margin-left: 15%;
  margin-right: 15%;
}

.highlow p {
  display: block;
  padding: 0px;
  margin: auto;
  width: 180px;
  border-bottom: 1px solid #0080aa;
  text-align: left;
}

.conditions {
  display: inline-block;
  padding-bottom: 20px;
}

.conditions p {
  padding: 0px;
  margin: 0px;
  text-align: left;
  border-bottom: 1px solid #0080aa;
  width: 180px;
}
.weather-summary {
  padding-top: 20px;
}
