@media only screen and (min-width: 37.5em) and (max-width: 63.9em) {

  /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

  nav button {
    display: none;
  }

  section.forecast {
    display: contents;
    display: block;
    clear: both;
    padding-top: 5px;
  }

  header, nav, main, footer {
    max-width: 100%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    display: block;
  }

  header {
    height: 120px;
    background-image: url('../images/rsz_blue-header-background.png');
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  header h1 {
    text-align: center;
    width: 100%;
    font-size: 2.2rem;
    top: 15px;
    left: 0px;
  }

  header .subheading, header h1, header img {
    position: static;
  }

  header img {
    position: relative;
    top: 15px;
    left: 0;
    float: left;
  }

  .fa-bars {
    display: none;
    top: 60px;
    padding-right: 20px;
    float: right;
  }

  header .subheading {
    top: 55px;
    left: 0px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.250rem;
  }
  nav {
    background-color: #00487c;
    width: 100%;
  }
  nav button {}
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*might want to remove this later to see if stuff extends past */
  }
  nav ul li {
    display: inline-block;
    text-align: center;
    padding: 10px;
  }
  nav ul li a {
    display: inline;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
  }
  nav ul li.active a {
    color: #ffd332;
  }
  nav ul li a:hover {
    color: #c0c0c0;
  }

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  main h2 {
  }
  main figure {
    float: left;
    margin: 0 0 .2rem 2%; width:48%;
    display: inline-block;
  }
  main figure img {
    display: table-cell;
  }

  h2, h3, h4, h5, h6 {
    font-family: 'Arvo', 'Times New Roman', serif;
    font-weight: 300;
    color: #00487c;
  }
  .contact {
  }
  .footer-bar {
    padding: 10px;
    background-color: #0080aa;
  }
  footer {
    clear: both;
    font-size: .8rem;
  }

  .highlow p {
    display: block;
  }
  article {
    display: inline-block;
    clear: right;
    padding: 10px;
  }

  article img {
    margin: 0px;
    width: 45%;
    float: right;
    padding: 10px;
  }
  table {
    margin: auto;
  }

  .images {
    width: 100%;
  }
  .weather-type {
    font-size: 2.0rem;
    display: table-cell;
    vertical-align: middle;
    line-height: 32px;
    padding: 10px;
    float: right;
  }
  .current {
    margin: auto;
    display: table;
  }

  .weather-summary {
    width: 48%;
    display: inline;
    float: right;
  }
  .weather-summary h3 {
    margin: 0;
  }

  .current picture {
    float: left;
  }

  .conditions {
    display: inline-block;
  }
  /*closing bracket */

  tr img {
    width: 20px;
  }
  td {
    vertical-align: bottom;
    padding: 0 10px;
    text-align: left;
  }

  .logo img {
    width: 75px;
  }
  .forecast table {
    width: 100%;
    text-align: left;
  }
  .forecast th {
    padding: 5px 0px 5px 5px;
    background-color: #ececec;
    border-bottom: 1px solid #0080aa;
    color: #000000;
  }
  .forecast td {
    padding: 5px 0px 5px 5px;
    border-bottom: 1px solid #0080aa;
  }

  .weather-summary table {
    text-align: left;
  }
  .weather-summary td {
    padding: 5px 0px 5px 5px;
    border-bottom: 1px solid #0080aa;
  }
  #sl-view {
    display: none;
  }
  .radar {
    display: block;
    clear: both;
  }
}
