@media only screen and (min-width: 37.5em) and (max-width: 63.9em) {

  nav button {
    display: none;
  }

  section.forecast {
    display: contents;
    display: block;
    clear: both;
    padding-top: 5px;
  }

  * {
    flex-flow: row wrap;
  }

  header, nav, main, footer {
    max-width: 100%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    display: block;
  }

  header {
    height: 90px;
    background-image: url('../images/rsz_blue-header-background.png');
    padding-top: 10px;
  }

  header h1 {
    text-align: center;
    font-size: 2.2rem;
    top: 15px;
    left: 0px;
  }

  header .subheading, header h1, header img {
    position: static;
  }

  header img {
    position: relative;
    top: 15px;
    left: 0px;
    float: left;
  }

  header .subheading {
    top: 55px;
    left: 0px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
  }

  h2 {
    font-size: 2.0rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    padding: 10px 53px;
  }

  main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }

  main figure img {
    display: none;
  }

  picture {
    float: left;
  }

  article {
    display: inline-block;
    clear: right;
    padding: 10px;
  }

  article img {
    margin: 0px;
    width: 45%;
    float: right;
    padding: 10px;
  }

  tr img {
    width: 20px;
  }

  td {
    vertical-align: bottom;
    padding: 0 10px;
    text-align: left;
  }

  /* class selectors */

  .fa-bars {
    display: none;
  }

  .images {
    display: none;
  }
  .weather-summary h3 {
    display: block;
  }
  .weather-type {
    font-size: 2.0rem;
    line-height: 64px;
    float: right;
  }

  #weather-icon {
    display: inline-block;
    width: 100px;
  }

  .current {
    display: inline-block;
    margin: 0px;
  }

  .current, .conditions, .highlow {
    vertical-align: middle;
  }

.img-article {
  margin: auto;
}

.weather-summary {
  margin-left: auto;
  margin-right: auto;
}

.current picture {
  float: left;
}

.highlow {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}

.highlow p {
  width: 265px;
  font-size: 1.1rem;
}

.conditions {
  display: inline-block;
  font-size: 1.1rem;
}

.conditions p {
  width: 265px;
}

.logo img {
  width: 75px;
}

.title {
  display: inline-block
}

.forecast table {
  width: 100%;
  text-align: left;
}

.forecast th {
  padding: 5px 0px 5px 5px;
  background-color: #ececec;
  border-bottom: 1px solid #0080aa;
}

.forecast td {
  padding: 5px 0px 5px 5px;
  border-bottom: 1px solid #0080aa;
}

.full-width {
  display: block;
  width: 100%;
}

/* id selectors */

#radar {
  float: right;
  width: 20px;
  padding: 0px;
  margin: 0px;
}


}
