body {
    margin-left: 100px;
}

.box {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    box-sizing: border-box;
}

.box::before {
    content: "";
    height: 90%;
    width: 90%;
    background: radial-gradient(#ff0000 14%, #fff 14% 27.5%, #ff0000 27.5% 43.5%, #fff 43.5% 56.5%, #ff0000 56.5% 70%);
    border-radius: 50%;
}
