* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  text-align: left;
  line-height: 1.1rem;
}

a {
  text-decoration: none;
}

h4, h5, h6 {
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
}

/* ---------- multiples ---------- */

h1, h2, h3, h4, h5, h6, .event, legend, .large-text, th {
  font-family: 'Anton', 'Times New Roman', serif;
}

h2, h3, h4, h5, h6, a, nav ul li.active a, .red, .footer-bar a:hover, legend, th {
  color: #c1341e;
}

/* ---------- header ---------- */

.hamburger {
  border: none;
  color: #fff;
  background-color: transparent;
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  line-height: 2.2rem;
  align-self: flex-start;
}

header {
  height: auto;
  background-color: #262721;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px;
  border-bottom: 10px solid #59a1c9;
  text-align: center;
}

header img {
  padding-bottom: 15px;
}

h1 {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: #fff;
  margin: 0;
}

/* ---------- nav ---------- */

nav {
  background-color: #59a1c9;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

nav ul li a:hover {
  color: #262721;
}

.hide {
  display: none;
}

/* ---------- main ---------- */

main > picture img {
  width: 80%;
  display: flex;
  margin: 0 auto;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/pexels/cyclist-in-the-mountains-600-80.jpg');
  height: auto;
  padding: 10px 0;
}

.middle {
  object-fit: cover;
  object-position: center;
}

.bottom {
  object-fit: cover;
  object-position: bottom;
}

.event {
  color: #fff;
  font-size: 3rem;
  padding: 0 0 10px 20px;
  line-height: 3rem;
}

.main-image p {
  color: #fff;
  font-size: 1.2rem;
  width: 50%;
  padding-left: 20px;
  font-weight: 700;
  line-height: 1.3rem;
}

.top-button {
  background-color: #c1341e;
  padding: 20px 15px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px 0 10px 20px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  width: 200px;
}

.top-button, .buttons, .submitbutton {
  color: #fff;
}

.buttons, .submitbutton {
  background-color: #c1341e;
  border: 1px solid #262721;
  width: 175px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 200px;
}

.pages:nth-of-type(1) {
  background-image: url('../images/flickr/row-of-bicycles-80.jpg');
}

.pages:nth-of-type(2) {
  background-image: url('../images/wikipedia-commons/pub-bike-500-80.jpg');
  background-position: top;
}

.pages:nth-of-type(3) {
  background-image: url('../images/flickr/broken-bicycle-on-trail-600-80.jpg');
  background-position: center;
}

.logos {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.logos img {
  width: 90%;
  height: 65px;
  object-fit: contain;
  align-self: center;
  padding: 5px 0;
}

/* ---------- footer ---------- */

footer {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #59a1c9;
  text-align: center;
}

iframe {
  width: 96%;
  min-height: 200px;
}

footer h3 {
  padding: 15px 0;
}

.contact {
  display: flex;
}

.contact img {
  padding: 7px;
  height: 40px;
}

.contact-text {
  padding: 7px;
  text-align: left;
  line-height: 1.2rem;
}

.company-info {
  background-color: #262721;
  padding: 15px 15px 0;
}

.social-media {
  align-self: center;
  padding: 10px 0 15px;
}

.social-media img {
  padding: 0 8px;
}

.icons img {
  padding: 0 5px;
}

.footer-bar {
  padding: 10px;
  color: #000;
}

footer a {
  color: #fff;
}

.underline, .footer-bar a {
  border-bottom: 1px solid #c1341e;
}

footer a:hover {
  color: #59a1c9;
}

/* ---------- thank you ---------- */

.thank-you {
  padding-bottom: 30px;
}

/* ---------- contact us ---------- */

.center {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.logo-column {
  display: none;
}

.item1 {
  margin-top: 20px;
}

.item2 hr {
  width: 100px;
  color: #262721;
  margin-top: 30px;
}

.second h2 {
  padding: 30px 0 20px;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.first form {
  padding-right: 10px;
}

.intro {
  margin-top: 20px;
  width: 100%;
}

fieldset {
  display: flex;
  flex-flow: column nowrap;
  border: none;
  width: 100%;
  padding: 0;
}

legend {
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

input, textarea {
  margin: .5rem 0;
}

input {
  padding: 5px;
  width: 100%;
}

.top {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 1rem;
}

.side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem 0;
}

[type="checkbox"] {
  width: 40px;
  height: 20px;
}

textarea {
  width: 100%;
  height: 10rem;
}

.submitbutton {
  width: 100%;
}

/* ---------- sales ---------- */

.content h3 {
  margin: 20px 0;
}

.large-text {
  padding-top: 5px;
  font-size: 2rem;
  line-height: 2.2rem;
}

.products img {
  width: 80%;
  height: auto;
  padding: 0 0 10px;
}

.products h3 {
  color: #262721;
}

.products  p, .products ul {
  padding-bottom: 1rem;
}

.accordian {
  width: 100%;
  border: none;
  border-bottom: 1px solid #262721;
  background-color: #59a1c9;
  color: #fff;
  padding: 10px 0 10px 20px;
  text-align: left;
  transition: .5s;
  cursor: pointer;
}

.accordian.active {
  background-color: #c1341e;
}

.products {
  display: none;
  overflow: hidden;
}

.content p {
  margin-top: 20px;
  padding-bottom: 1rem;
}

.price {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.grid-container {
  margin-bottom: 20px;
}

/* ---------- service ---------- */

section p {
  font-weight: 700;
  padding-bottom: 1rem;
}

td {
  border-bottom: 1px solid #c0c0c0;
  padding-right: 1rem;
}

td ~ td {
  padding-right: 0;
}

th {
  padding: 5px 0;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding-top: 20px;
}

/* ---------- tours ---------- */

li span {
  font-weight: 700;
}

.second ul {
  padding-bottom: 20px;
}

.blue {
  color: #59a1c9;
}

/* ---------- events ---------- */

h4 ~ ul {
  padding-top: 1rem;
}

ul ~ h4 {
  padding-top: 1rem;
}
 /* --------- resources --------- */

.resource-list h3 {
  padding: 20px 0;
}

 /* ---------- 404 ---------- */

.extra-large-text {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 700;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-content a {
  padding: 20px;
  width: 80%;
  margin: 20px;
  align-self: center;
}

/* ---------- overview ---------- */

video {
  width: 96%;
  height: auto;
}
