@media only screen and (min-width: 37.5em) {

  html, body {
    height: 100%;
  }

  /* ---------- header ---------- */

  .hamburger {
    display: none;
  }

  header {
    height: 65px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 15px 0 0 0;
    border: none;
    flex-shrink: 0;
  }

  header img {
    position: absolute;
    top: 20px;
    left: 10px;
    height: 90px;
    width: auto;
  }

  h1 {
    position: absolute;
    left: 90px;
    top: 20px;
    padding-left: 15px;
  }

  /* ---------- nav ---------- */

  nav {
    display: flex;
    align-items: center;
    background-color: #262721;
    border-bottom: 10px solid #59a1c9;
    text-align: left;
    padding-left: 90px;
    height: 55px;
    flex-shrink: 0;
  }

  nav ul {
    flex-flow: row nowrap;
  }

  nav ul li {
    padding: 0 5px;
  }

  nav ul li a {
    padding: 8px 10px;
    border: none;
  }

  nav ul li.active a {
    background-color: #c1341e;
    color: #fff;
  }


  nav ul li a:hover {
    color: #fff;
    background-color: #59a1c9;
  }

  .hide {
    display: flex;
    padding: 0;
    margin: 10px 0;
  }

  /* ---------- main ---------- */

  main  {
    flex: 1 0 auto;
  }

  main > picture img {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .main-image {
    background-image: url('../images/pexels/cycling-in-the-mountains-800.jpg');
    width: 80%;
    margin: 20px auto 10px;
  }

  .main-image p, .event {
    margin-left: 30px;
  }

  .main-image p {
    width: 40%;
  }

  .top-button {
    width: 225px;
    margin: 15px 0 10px 50px;
  }

  .buttons {
    padding: 10% 0;
  }

  .pages {
    width: 33%;
    margin: 5px;
  }

  .pages:nth-of-type(1) {
    margin-left: 0;
  }

  .pages:nth-of-type(3) {
    margin-right: 0;
  }

  .pages a {
    width: 60%;
  }

  .sub-pages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  }

  .logos {
    display: block;
    flex-flow: row nowrap;
    padding: 0;
    width: 80%;
    margin: auto;
  }

  .logos img {
    width: 19%;
    padding: 10px;
    height: auto;
    margin-bottom: 0;
  }

  .logo-column .logos img {
    padding: 0;
    margin: 10px;
  }

  /* ---------- footer ---------- */

  footer {
    height: auto;
    flex-shrink: 0;
  }

  footer h3 {
    text-align: left;
  }

  footer iframe {
    width: 33%;
    max-width: 425px;
    height: auto;
  }

  .company-info > .address {
    padding: 0 30px;
  }

  .contact-text {
    align-self: center;
  }

  .company-info {
    display: flex;
    padding: 15px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

/* ---------- contact us ---------- */

  .center {
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .first {
    display: flex;
    flex-direction: row;
  }

  .split, .second {
    flex: 1 1 50%;
  }

  .split {
    margin-right: 10px;
  }

  .second {
    margin-left: 10px;
  }

  .second iframe {
    max-width: 425px;
    min-height: 300px;
  }

  /* ---------- service ---------- */

  .center h2 {
    align-self: flex-start;
  }

  .grid-container {
    grid-template-columns: auto auto;
    display: grid;
    grid-row-gap: 0;
    grid-column-gap: 30px;
    margin-bottom: 0;
  }

  .item1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;
  }

  .item2 {
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .item2 div {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-top: 10px;
  }

  .item2 div img {
    width: 100px;
  }

  /* ---------- resources --------- */

  .resource-list {
    display: flex;
    flex-flow: row wrap;
  }

  .resource-list div {
    padding: 10px;
    width: 50%;
  }

  /* ---------- 404 ---------- */

  .center-content a {
    padding: 25px;
    width: 50%;
  }

  /* ---------- overview ---------- */

  video {
    padding-top: 20px;
    width: 100%;
  }

}

