@media only screen and (min-width: 64em) {
  /* ---------- nav ---------- */

  nav ul li a {
    padding: 8px 16px;
  }

  /* ---------- main ---------- */

  body {
    flex-basis: 960px;
  }
  main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  main > h2 {
    font-size: 2.0rem;
    padding-top: 30px;
  }

  .town-summary {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .town-summary picture{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .weather-summary {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
  }

  .weather-summary h2 {
      display: none;
  }

  .weather-type {
    font-size: 2.2rem;
  }

  .current {
    margin: 0px;
  }

  .highlow {
  }

  .highlow p, .conditions p {
    font-size: 1.3rem;
    padding: 10px 0px 0px 0px;
    width: 230px;
  }

  .conditions {
    font-size: 1.3rem;
    padding-bottom: 0px;
  }

  section.forecast {
    padding: 5px 0px 0px 0px;
  }

  h3 {
    font-size: 1.375rem;
    padding: 30px 0px;
  }

 /* ---------- gallery ---------- */

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

}

.box-shadow:hover {
  box-shadow: 5px 5px 10px gray;
}
