@media only screen and (min-width: 1000px) {
   
    .chartCompilation {
        width: 77%;
        margin: 0;
    }

    .chartCompilation > div {
        max-width: 25%;
        min-width: 330px;
        margin: 0;
    }

    .row {
        width: 74%;
    }
    
    .canvasjs-chart-canvas {
        max-width: 100%;
    }

    footer {
        padding: 20px 0 20px 40px;
    }

    footer section {
        width: auto;
        max-width: 310px;
    }

    footer section:first-of-type {
        max-width: 500px;
        margin-left: -100px;
    }
}