@media only screen and (min-width: 600px) {

    header {
        padding: 50px 50px 75px 50px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    .wrap {
        text-align: left;
        width: 70%;
        max-width: 500px;
        padding: 0;
        margin: 0;
    }

    .donate {
        background-color: #ff813f;
        padding: 0px;
        width: auto;
        position: absolute;
        right: -10px;
        top: -10px;
        z-index: 0;
    }
    .donate a {
        color: #fff;
    }

    .logo {
        margin: 0 0 0 5%;
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 2.25em;
        display: inline-block;
    }
    .secondLine {
        display: block;
    }
    header h2 {
        padding: 0 10px;
    }

    .chartCompilation {
        align-items: center;
        width: 65%;
        margin: 0 auto;
    }
 
    .canvasjs-chart-canvas {
        margin: auto;
        padding: 0;
        width: 100%;
        border-bottom: none;
    }

    div {
        margin: 10px;
    }

    .states {
        padding: 20px;
        margin: 20px 0 10px 10px;
        width: 190px;
        display: inline-block;
    }

    .states li {
        border-bottom: none;
        text-align: left;
    }

    .states a {
        font-size: 1.125em;
    }

    .stateLinks {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }
    main > div {
        display: flex;
        flex-flow: row wrap;
    }

    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    footer section:nth-of-type(2) {
        display: inline-block;
        padding-right: 40px;
    }

    footer section:nth-of-type(3) {
        display: inline-block;
    }

    nav {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .menu-icon {
        display: none;
    }
    .content-block {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .adsbygoogle {
        display: inline-block;
    }

    .amazonad {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .amazonad iframe {
        padding: 10px 0;
    }

    .amazon-mobile {
        display: none;
    }

    /* World */

    .row {
        width: 60%;
        margin: 0 30px 0 0;
    }

    .mg-btm {
        margin-bottom: 15px;
    }

}
